<main class="page">

  <div class="article-container">

    <article>
      <hgroup>
        <h1>404</h1>
        <p>stuff</p>
      </hgroup>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto, atque, cumque debitis exercitationem expedita explicabo itaque molestiae nisi omnis tempora ullam vero! Esse facere facilis illo, ipsam praesentium unde!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eos et non quaerat quod quos sed similique sint velit voluptate! Cum dicta dolore ea eius provident quibusdam repellat tempore temporibus.</p>
    </article>

    <article>
      <hgroup>
        <h1>404</h1>
        <p>stuff</p>
      </hgroup>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto, atque, cumque debitis exercitationem expedita explicabo itaque molestiae nisi omnis tempora ullam vero! Esse facere facilis illo, ipsam praesentium unde!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque officia rerum vero. Ab dolore, doloremque eveniet incidunt molestias nobis rem ut? At cumque excepturi impedit ipsa molestias quo sint temporibus!</p>
    </article>

    <article>
      <hgroup>
        <h1>404</h1>
        <p>stuff</p>
      </hgroup>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto, atque, cumque debitis exercitationem expedita explicabo itaque molestiae nisi omnis tempora ullam vero! Esse facere facilis illo, ipsam praesentium unde!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque cupiditate distinctio dolor earum fugit illo inventore, ipsum, iusto molestiae, mollitia neque non odio provident quia sit sunt tempora? Officiis.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum explicabo fugiat quidem quo! Architecto beatae eaque facilis, nisi quaerat recusandae totam unde. A amet est ex perferendis voluptate? Exercitationem, veniam!</p>
    </article>

  </div>
</main>
