<nav class="site-banner">
  <div>ABGTW.INFO - US</div>
  <div class="nav-button" routerLink="/us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</div>
  <div class="nav-button" routerLink="venue" routerLinkActive="active">Venue</div>
  <div class="nav-button" routerLink="weather" routerLinkActive="active">Weather</div>
  <div class="nav-button" routerLink="camping" routerLinkActive="active">Camping</div>
  <div class="nav-button" routerLink="checklist" routerLinkActive="active">Checklist</div>
  <div class="nav-button">Official Site</div>
</nav>

<router-outlet></router-outlet>
